---
import { Image } from 'astro:assets';
import Layout from '../layouts/Layout.astro';
import mainVisual from '@images/main_visual.jpg'
import bobo from '@images/bobo.jpg'
import kakkosan from '@images/kakkosan.jpg'
import aOfficeMiyakojima from '@images/a-office-miyakojima.jpg'
import azamiannShirahama from '@images/azamiann-shirahama.jpg'
import azamiRentalcar from '@images/azami-rentalcar.jpg'
import casualStayAguncha from '@images/casual_stay_aguncha.jpg'
import hillsVillaMiyako from '@images/hills_villa_miyako_lp.jpg'
import rush from '@images/rush.jpg'
import azamiWeekly from '@images/azami-weekly.jpg'
import recruitAzamigroup from '@images/recruit-azamigroup.jpg'
import ExternalLinkIcon from '@images/ExternalLinkIcon.astro';
import SecBlog from '@components/SecBlog.astro';
---

<Layout title="">
  <div class="wrap_inner">
    <section class="sec_main_visual" id="sec_main_visual">
      <div class="main_visual_inner">
        <div class="main_visual">
          <Image
            src={mainVisual}
            alt='日が差している部屋'
            class="image"
          />
          <div class="mask"></div>
          <h1>Webサイト制作 / Webアプリ開発 を行っております。</h1>
        </div>
      </div>
    </section>

    <section class="sec_about" id="sec_about">
      <div class="sec_container">
        <div class="title_box">
          <h2>About</h2>
        </div>

        <div class="sec_box">
          <p class="text">
            Webサイト制作 / Webアプリ開発を行っております。コーディング / デザイン / 企画まで一貫して担当できます。制作実績 ( Works ) を見ていただいて、良いなと思ったらぜひ<a class="underline" href="/contact">お問い合わせ</a>くださいませ。大阪を拠点にしており、Gottu Tech ( ゴッツテック ) は事業を行う上での屋号です。
          </p>
        </div>
      </div>
    </section>

    <section class="sec_policy" id="sec_policy">
      <div class="sec_container">
        <div class="title_box">
          <h2>Policy</h2>
        </div>

        <div class="sec_box">
          <p class="text">価値を生み出す</p>
        </div>
      </div>
    </section>

    <section class="sec_works" id="sec_works">
      <div class="sec_container">
        <div class="title_box">
          <h2>Works</h2>
        </div>

        <div class="sec_box">
          <div class="card_container">
            <div class="card">
              <div class="card_image">
                <Image
                  src={azamiWeekly}
                  alt='アザミウィークリー'
                />
              </div>

              <div class="works_card_info">
                <ul>
                  <li>
                    <p class="label">Name</p>
                    <p class="value">アザミウィークリー</p>
                  </li>
                  <li>
                    <p class="label">Type</p>
                    <p class="value">Web Site</p>
                  </li>
                  <li>
                    <p class="label">Phase</p>
                    <p class="value">
                      Design<br>
                      Coding<br>
                      ...All Others<br>
                    </p>
                  </li>
                  <li>
                    <p class="label">Tech</p>
                    <p class="value">
                      WordPress<br>
                    </p>
                  </li>
                  <li>
                    <p class="label">URL</p>
                    <p class="value">
                      <a href="https://www.azami-weekly.com/" target="_blank">
                        https://www.azami-weekly.com/
                        <ExternalLinkIcon />
                      </a>
                    </p>
                  </li>
                </ul>
              </div>
            </div>

            <div class="card">
              <div class="card_image">
                <Image
                  src={recruitAzamigroup}
                  alt='アザミグループ採用サイト'
                />
              </div>

              <div class="works_card_info">
                <ul>
                  <li>
                    <p class="label">Name</p>
                    <p class="value">アザミグループ採用サイト</p>
                  </li>
                  <li>
                    <p class="label">Type</p>
                    <p class="value">Web Site</p>
                  </li>
                  <li>
                    <p class="label">Phase</p>
                    <p class="value">
                      Design<br>
                      Coding<br>
                      ...All Others<br>
                    </p>
                  </li>
                  <li>
                    <p class="label">Tech</p>
                    <p class="value">
                      PHP<br>
                      HTML<br>
                      CSS<br>
                      JavaScript<br>
                    </p>
                  </li>
                  <li>
                    <p class="label">URL</p>
                    <p class="value">
                      <a href="https://recruit.azamigroup.jp/" target="_blank">
                        https://recruit.azamigroup.jp/
                        <ExternalLinkIcon />
                      </a>
                    </p>
                  </li>
                </ul>
              </div>
            </div>

            <div class="card">
              <div class="card_image">
                <Image
                  src={rush}
                  alt='カットサロン rush'
                />
              </div>

              <div class="works_card_info">
                <ul>
                  <li>
                    <p class="label">Name</p>
                    <p class="value">カットサロン rush</p>
                  </li>
                  <li>
                    <p class="label">Type</p>
                    <p class="value">Web Site</p>
                  </li>
                  <li>
                    <p class="label">Phase</p>
                    <p class="value">
                      Design<br>
                      Coding<br>
                      ...All Others<br>
                    </p>
                  </li>
                  <li>
                    <p class="label">Tech</p>
                    <p class="value">
                      Astro<br>
                      Newt
                    </p>
                  </li>
                  <li>
                    <p class="label">URL</p>
                    <p class="value">
                      <a href="https://www.osaka-rush.co.jp/" target="_blank">
                        https://www.osaka-rush.co.jp/
                        <ExternalLinkIcon />
                      </a>
                    </p>
                  </li>
                </ul>
              </div>
            </div>

            <div class="card">
              <div class="card_image">
                <Image
                  src={hillsVillaMiyako}
                  alt='ヒルズヴィラ宮古島LP'
                />
              </div>

              <div class="works_card_info">
                <ul>
                  <li>
                    <p class="label">Name</p>
                    <p class="value">ヒルズヴィラ宮古島LP</p>
                  </li>
                  <li>
                    <p class="label">Type</p>
                    <p class="value">LP</p>
                  </li>
                  <li>
                    <p class="label">Phase</p>
                    <p class="value">
                      Design<br>
                      Coding<br>
                      ...All Others<br>
                    </p>
                  </li>
                  <li>
                    <p class="label">Tech</p>
                    <p class="value">
                      Astro<br>
                      WordPress
                    </p>
                  </li>
                  <li>
                    <p class="label">URL</p>
                    <p class="value">
                      <a href="https://ad.hillsvilla-miyako.com/" target="_blank">
                        https://ad.hillsvilla-miyako.com/
                        <ExternalLinkIcon />
                      </a>
                    </p>
                  </li>
                </ul>
              </div>
            </div>

            <div class="card">
              <div class="card_image">
                <Image
                  src={casualStayAguncha}
                  alt='カジュアルステイあぐんちゃ与論島'
                />
              </div>

              <div class="works_card_info">
                <ul>
                  <li>
                    <p class="label">Name</p>
                    <p class="value">カジュアルステイあぐんちゃ与論島</p>
                  </li>
                  <li>
                    <p class="label">Type</p>
                    <p class="value">Web Site</p>
                  </li>
                  <li>
                    <p class="label">Phase</p>
                    <p class="value">
                      Design<br>
                      Coding<br>
                      ...All Others<br>
                    </p>
                  </li>
                  <li>
                    <p class="label">Tech</p>
                    <p class="value">Astro</p>
                  </li>
                  <li>
                    <p class="label">URL</p>
                    <p class="value">
                      <a href="https://yoron-villa.com/" target="_blank">
                        https://yoron-villa.com/
                        <ExternalLinkIcon />
                      </a>
                    </p>
                  </li>
                </ul>
              </div>
            </div>

            <div class="card">
              <div class="card_image">
                <Image
                  src={azamiRentalcar}
                  alt='アザミレンタカー'
                />
              </div>

              <div class="works_card_info">
                <ul>
                  <li>
                    <p class="label">Name</p>
                    <p class="value">アザミレンタカー</p>
                  </li>
                  <li>
                    <p class="label">Type</p>
                    <p class="value">Web Site</p>
                  </li>
                  <li>
                    <p class="label">Phase</p>
                    <p class="value">
                      Design<br>
                      Coding<br>
                      ...All Others<br>
                    </p>
                  </li>
                  <li>
                    <p class="label">Tech</p>
                    <p class="value">Astro</p>
                  </li>
                  <li>
                    <p class="label">URL</p>
                    <p class="value">
                      <a href="https://rentalcar.azami-resort.com/" target="_blank">
                        https://rentalcar.azami-resort.com/
                        <ExternalLinkIcon />
                      </a>
                    </p>
                  </li>
                </ul>
              </div>
            </div>

            <div class="card">
              <div class="card_image">
                <Image
                  src={kakkosan}
                  alt='カッコで囲むさん ( Kakkosan )'
                />
              </div>

              <div class="works_card_info">
                <ul>
                  <li>
                    <p class="label">Name</p>
                    <p class="value">カッコで囲むさん ( Kakkosan )</p>
                  </li>
                  <li>
                    <p class="label">Type</p>
                    <p class="value">Chrome Extension</p>
                  </li>
                  <li>
                    <p class="label">Phase</p>
                    <p class="value">
                      Design<br>
                      Programming<br>
                      ...All Others<br>
                    </p>
                  </li>
                  <li>
                    <p class="label">Tech</p>
                    <p class="value">
                      Plasmo<br>
                      Svelte<br>
                      TypeScript<br>
                    </p>
                  </li>
                  <li>
                    <p class="label">URL</p>
                    <p class="value">
                      <a href="https://chromewebstore.google.com/detail/kakkosan/ghihogbgbibngkdjgfpapepeoajnpeng?hl=ja" target="_blank">
                        https://chrome.google.com/webstore/detail/kakkosan/
                        <ExternalLinkIcon />
                      </a>
                    </p>
                  </li>
                </ul>
              </div>
            </div>

            <div class="card">
              <div class="card_image">
                <Image
                  src={bobo}
                  alt='ボボコンサルティング株式会社'
                />
              </div>

              <div class="works_card_info">
                <ul>
                  <li>
                    <p class="label">Name</p>
                    <p class="value">ボボコンサルティング株式会社</p>
                  </li>
                  <li>
                    <p class="label">Type</p>
                    <p class="value">Web Site</p>
                  </li>
                  <li>
                    <p class="label">Phase</p>
                    <p class="value">
                      Design<br>
                      Coding<br>
                      Performance Tuning<br>
                      ...All Others<br>
                    </p>
                  </li>
                  <li>
                    <p class="label">Tech</p>
                    <p class="value">WordPress</p>
                  </li>
                  <li>
                    <p class="label">URL</p>
                    <p class="value">
                      <a href="https://boboconsulting.com/" target="_blank">
                        https://boboconsulting.com/
                        <ExternalLinkIcon />
                      </a>
                    </p>
                  </li>
                </ul>
              </div>
            </div>

            <div class="card">
              <div class="card_image">
                <Image
                  src={azamiannShirahama}
                  alt='あざみ庵 白浜'
                />
              </div>

              <div class="works_card_info">
                <ul>
                  <li>
                    <p class="label">Name</p>
                    <p class="value">あざみ庵 白浜</p>
                  </li>
                  <li>
                    <p class="label">Type</p>
                    <p class="value">Web Site</p>
                  </li>
                  <li>
                    <p class="label">Phase</p>
                    <p class="value">
                      Design<br>
                      Coding<br>
                      ...All Others<br>
                    </p>
                  </li>
                  <li>
                    <p class="label">Tech</p>
                    <p class="value">
                      HTML<br>
                      CSS<br>
                      JavaScript<br>
                    </p>
                  </li>
                  <li>
                    <p class="label">URL</p>
                    <p class="value">
                      <a href="https://shirahama-azamiann.azami-resort.com/" target="_blank">
                        https://shirahama-azamiann.azami-resort.com/
                        <ExternalLinkIcon />
                      </a>
                    </p>
                  </li>
                </ul>
              </div>
            </div>

            <div class="card">
              <div class="card_image">
                <Image
                  src={aOfficeMiyakojima}
                  alt='エーオフィス宮古島'
                />
              </div>

              <div class="works_card_info">
                <ul>
                  <li>
                    <p class="label">Name</p>
                    <p class="value">エーオフィス宮古島</p>
                  </li>
                  <li>
                    <p class="label">Type</p>
                    <p class="value">Web Site</p>
                  </li>
                  <li>
                    <p class="label">Phase</p>
                    <p class="value">
                      Design<br>
                      Coding<br>
                      ...All Others<br>
                    </p>
                  </li>
                  <li>
                    <p class="label">Tech</p>
                    <p class="value">React</p>
                  </li>
                  <li>
                    <p class="label">URL</p>
                    <p class="value">
                      <a href="https://azami7.com/a-office-miyakojima/" target="_blank">
                        https://azami7.com/a-office-miyakojima/
                        <ExternalLinkIcon />
                      </a>
                    </p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <SecBlog />
  </div>
</Layout>

<style>
  .main_visual {
    display: grid;
  }

  .main_visual .image {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
  }

  .main_visual .mask {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    grid-column: 1 / 1;
    grid-row: 1 / 1;
  }

  .main_visual h1 {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
    display: grid;
    place-content: center;
    color: var(--white);
    font-size: 18px;
  }

  .works_card_info ul li {
    display: grid;
    grid-template-columns: 74px 1fr;
    column-gap: 16px;
    align-items: baseline;
  }

  .works_card_info ul li .label {
    background-color: var(--black);
    color: var(--white);
    text-align: center;
    border-radius: 100px;
    font-size: 12px;
    padding: 0.1em 0 0.2em;
  }

  .works_card_info ul li .value {
    font-size: 15px;
  }

  .works_card_info ul {
    display: grid;
    row-gap: 8px;
  }

  @media (max-width: 767px) {
    .main_visual h1 {
      padding: 0 50px;
      text-align: center;
    }
  }
</style>
