---
import ResetCSS from '@appzic/astro-reset-css/ResetCSS.astro';
import Header from '../components/Header.astro';
import '@fontsource/noto-sans-jp/300.css';
import '@fontsource/noto-sans-jp/500.css';
import Footer from '@components/Footer.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
const defaultTitle = 'Gottu Tech - Webサイト制作とWebアプリ開発';
const pageTitle = title ? title + ' | ' + defaultTitle : defaultTitle;
const description = 'Webサイト制作 / Webアプリ開発を行っております。コーディング / デザイン / 企画まで一貫して担当できます。制作実績 ( Works ) を見ていただいて、良いなと思ったらぜひお問い合わせくださいませ。大阪を拠点にしており、Gottu Tech ( ゴッツテック ) は事業を行う上での屋号です。'
---

<!doctype html>
<html lang="ja">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<ResetCSS />

		<!-- Primary Meta Tags -->
		<title>{pageTitle}</title>
		<meta name="title" content={pageTitle} />
		<meta name="description" content={description} />

		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://gottu-tech.com/" />
		<meta property="og:title" content={pageTitle} />
		<meta property="og:description" content={description} />
		<meta property="og:image" content="https://gottu-tech.com/ogp.jpg" />

		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content="https://gottu-tech.com/" />
		<meta property="twitter:title" content={pageTitle} />
		<meta property="twitter:description" content={description} />
		<meta property="twitter:image" content="https://gottu-tech.com/ogp.jpg" />

		<!-- Meta Tags Generated with https://metatags.io -->
	</head>
	<body>
		<div class="wrap">
			<Header />
			<main>
				<slot />
			</main>
			<Footer />
		</div>
	</body>
</html>

<style is:global>
	:root {
		--black: #202023;
		--white: #f5f5f5
	}

	html {
		background: var(--white);
		font-family: 'Noto Sans JP', sans-serif;
		font-weight: 100;
		font-feature-settings: "palt";
		letter-spacing: 0.04em;
		line-height: 1.6;
		word-break: break-all;
		scroll-padding-top: 100px;
	}

	a {
    text-decoration: underline;
  }

	.wrap {
		width: 850px;
		margin-inline: auto;
	}

	.wrap_inner {
		padding: 100px 0;
		display: grid;
		row-gap: 80px;
	}

	.sec_container {
    display: grid;
    grid-template-columns: 170px 1fr;
  }

  .sec_container .title_box h2 {
    border-bottom: 1px solid var(--black);
    width: fit-content;
    padding: 0 0 1em;
  }

  .card_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    row-gap: 60px;
  }

  .card a {
    display: contents;
  }

  .card {
    display: grid;
    grid-row: span 2;
    grid-template-rows: subgrid;
    row-gap: 16px;
  }

	.card_image img {
    aspect-ratio: 650 / 365;
    object-fit: cover;
    width: 100%;
  }

	@media (max-width: 820px) {
		.wrap {
			width: 90%;
		}
	}

	@media (max-width: 767px) {
		.wrap_inner {
      row-gap: 60px;
			padding: 60px 0;
    }

		.sec_container {
      grid-template-columns: 1fr;
      row-gap: 30px;
    }

    .card_container {
      grid-template-columns: 1fr;
    }
	}
</style>
